@page
@model LimsUI.Pages.ElisaPages.SendRawDataModel
@{
}



<div>
    <form method="post" enctype="multipart/form-data">
        <div>
            <input type="file" name="SelectedFile" />
        </div>

        <br />

        <button type="submit" class="btn btn-primary">OK</button>
    </form>
</div>